<body id='homepage'>
  <% if !logged_in? %>

  <form class="" action="/session" method="post">

    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">email</span>
      <input type="text" name="email" class="form-control"  aria-describedby="sizing-addon2">
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">Password</span>
      <input type="password" name="password" class="form-control" aria-describedby="sizing-addon2">
    </div>

    <button class="input-group" >login</button>

    <button onclick="location.href='/users/new'"  class="input-group" type="button" name="new_user-btn"> Create a New Profile</button>

  </form>

  <% end %>

  <div class="declaration back">
    <h1>Declaration</h1>
    <p>This is a place where people can meet and swap money in different currencies. Please always be safe when meeting someone you don't know:
    choose a crowded place, even better if you know that there are cameras. If possible don't go alone. Enjoy it! </p>
  </div>

  <div class="btn-group">

    <div class="new-request-btn box-btn">
      <a href="/posts/new">Add request</a>
    </div>
    <div class="new-request-img box-img" style="font-size: 20px">
      <img src="http://i.imgur.com/vsCRNAu.jpg?2" title="source: imgur.com" />
      <br>
      Not true anymore!
    </div>

    <div class="search-btn box-btn">
      <a href="/posts/list/new">Search a Match</a>
    </div>
    <div class="search-img box-img" style="font-size: 20px">
      <img src="http://i.imgur.com/8vkPDPB.png?2"/>
    </div>

    <div class="my-requests-btn box-btn">
      <a href='/posts/my_posts'>My requests</a>
    </div>
    <div class="my-requests-img box-img">
      <img src="http://i.imgur.com/Pnbt5xw.jpg?1"/img>
    </div>
  </div>

</body>
