<body id='homepage'>
  <% if !logged_in? %>


    <form class="" action="/session" method="post">
  <div class="index-form">
      <div class="index-email">
        <label >email</label>
        <input type="text" name="email">
      </div>

      <div class="index-password">
        <label>Password</label>
        <input type="password" name="password">
      </div>

      <div class="index-login-btn">
        <button class="index-login-btn" >login</button>
      </div>

      <div class="index-signin-btn">
        <button onclick="location.href='/users/new'"  class="index-signin-btn" type="button" name="new_user-btn"> Create a New Profile</button>
      </div>


    </form>
  </div>
  <% end %>

  <div class="declaration back">
    <h1>Declaration</h1>
    <p>This is a place where people can meet and swap money in different currencies. Please always be safe when meeting someone you don't know:
    choose a crowded place, even better if you know that there are cameras. If possible don't go alone. Enjoy it! </p>
  </div>

  <div class="btn-group">

    <div class="new-request-btn box-btn">
      <a href="/posts/new">Add request</a>
    </div>
    <div class="new-request-img box-img" style="font-size: 20px">
      <img src="http://i.imgur.com/vsCRNAu.jpg?2" title="source: imgur.com" />
      <br>
      Not true anymore!
    </div>

    <div class="search-btn box-btn">
      <a href="/posts/list/new">Search a Match</a>
    </div>
    <div class="search-img box-img" style="font-size: 20px">
      <img src="http://i.imgur.com/8vkPDPB.png?2"/>
    </div>

    <div class="my-requests-btn box-btn">
      <a href='/posts/my_posts'>My requests</a>
    </div>
    <div class="my-requests-img box-img">
      <img src="http://i.imgur.com/Pnbt5xw.jpg?1"/img>
    </div>
  </div>

</body>
