
  <% if !logged_in? %>

  <form class="" action="/session" method="post">

    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">email</span>
      <input type="text" name="email" class="form-control"  aria-describedby="sizing-addon2">
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">Password</span>
      <input type="password" name="password" class="form-control" aria-describedby="sizing-addon2">
    </div>

    <button class="input-group" >login</button>

    <button onclick="location.href='/users/new'"  class="input-group" type="button" name="new_user-btn"> Create a New Profile</button>

  </form>

  <% end %>

  <div class="btn-group" role="group" aria-label="...">
    <button onclick="location.href='/posts/new'" name="addRequest-btn" type="button" class="btn btn-default">Add a new Request</button>
    <button onclick="location.href='/posts/list/new'" name="searchRequest-btn" type="button" class="btn btn-default">Search a Match</button>
    <button onclick="location.href='/posts/my_posts'" name="myRequests-btn" type="button" class="btn btn-default">My Requests</button>
  </div>

<div class="declaration back">
  <h1>Declaration</h1>
  <p>This is a place where people can meet and.... Please always be safe when meeting someone you don't know:
  choose a crowded place, even better if you know that there are cameras. If possible don't go alone. </p>
</div>
