<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Currency Swap</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="/stylesheets/converter/css/frame.css" rel="stylesheet" title="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Kranky|Rock+Salt|Special+Elite" rel="stylesheet">
</head>
<body>
  <div id="wrapper">
    <div id="header" class='header'>
      <div class="title">
         <h1>Currency Swap!</h1>
          <h2 style="padding-left:30px">The Currency Market</h2>
      </div>
      <div class="header-right">
        <% if logged_in? %>
          Welcome, <%= current_user.username %>
            <form action="/session" method="post">
              <input type="hidden" name="_method" value="delete">
                <div class="header-buttons">
                  <button class='header-btn'>
                    logout
                  </button>
            </form>
        <% end %>
        <button onclick="location.href='/'"  class='homepage-btn header-btn' type="button">Homepage</button>
                </div>
      </div>
    </div>

    <div id="content" class="container">
      <%= yield %>
    </div>

    <footer>
      <p>Created by Marta Scaramella</p>
    </footer>
  </div>
</body>
