<form class="back form" action="/session" method="post">
  <label for="">email</label>
  <input type="text" name="email">

  <label for="">password</label>
  <input type="password" name="password" value="">

  <button>login</button>
  <button onclick="location.href='/users/new'"  class="input-group" type="button" name="new_user-btn"> Create a New Profile</button>

</form>
