<h2>New Request</h2>

<div class="back">

  <form id='new_form' action="/posts" method="post">

    <label>I have</label>

    <input type="text" name="amount" placeholder="amount">

    <select name="curr_from">
      <option value="euro">Euro</option>
      <option value="audollar">AU Dollar</option>
      <option value="usdollar">US Dollar</option>
      <option value="chinese_yuan">Chinese Yuan</option>
    </select>

    <label>and I need</label>
    <select name="curr_to">
      <option value="euro">Euro</option>
      <option value="audollar">AU Dollar</option>
      <option value="usdollar">US Dollar</option>
      <option value="chinese_yuan">Chinese Yuan</option>
    </select>

    <label>Before the</label>
    <input type="date" name="before_date">


    <label>I live in</label>
    <input type="text" name="city">
    <!-- <label for="">My phone number</label>
    <input type="text" name="phone_number"> -->

    <br>

    <label>Comment: </label>
    <input id='comment_box' type="text" name="comment" placeholder="">

    <button>Create New Request</button>
  </form>

  <div id="powerd"></div><script src="https://www.transfermate.com/en/exchange_rates_api.asp" type="text/javascript"></script><noscript><br/><span style="color: red;">Please enable your javascript.</span></noscript>

</div>
