<div class="back new">

  <div class="new-title">
    <h2>New Request</h2>
  </div>


  <form id='new_form' class='new-form' action="/posts" method="post">

    <label>I have</label>

    <input type="text" name="amount" placeholder="amount">

    <select name="curr_from">
      <option value="euro">Euro</option>
      <option value="audollar">AU Dollar</option>
      <option value="usdollar">US Dollar</option>
      <option value="chinese_yuan">Chinese Yuan</option>
    </select>

    <label>and I need</label>
    <select name="curr_to">
      <option value="euro">Euro</option>
      <option value="audollar">AU Dollar</option>
      <option value="usdollar">US Dollar</option>
      <option value="chinese_yuan">Chinese Yuan</option>
    </select>

    <label>Before the</label>
    <input type="date" name="before_date">

    <br>

    <label>I live in</label>
    <input type="text" name="city">

    <label>Comment: </label>
    <input id='comment_box' type="text" name="comment" placeholder="">

    <button class="new-btn">Create New Request</button>
  </form>

  <div class="new-coverter">
    <script src="https://www.transfermate.com/en/exchange_rates_api.asp" type="text/javascript"></script><noscript><br/><span style="color: red;">Please enable your javascript.</span></noscript>
  </div>

</div>
