
<form id='new_comment' action="/chat" method="post">
  <input type="text" name="body">
  <input type="hidden" name="chats_post_id" value= <%=@post.id%>>
  <input type="hidden" name="date_msg" value= <%= Date.today %> >

  <button> Send </button>
</form>
