<div class="back form">

  <h2>New User</h2>

  <form action="/users" method="post">

    <label for="">email address: </label>
    <input type="text" name="email">

    <label for="">Choose a password: </label>
    <input type="password" name="password">

    <br>

    <label for="">Username:</label>
    <input type="text" name="username">

    <label for="">Phone number:</label>
    <input type="text" name="phone_number">

    <button>Create</button>
  </form>
</div>
