<h1>Currency Swap!</h1>

<form class="" action="/session" method="post">
  <label for="">email</label>
  <input type="text" name="email">

  <label for="">password</label>
  <input type="password" name="password" value="">

  <button>login</button>
</form>

<button onclick="location.href='/users/new'"  class='' type="button" name="new_user-btn"> Create a New Profile</button>

<div class="btn-container">

<button onclick="location.href='/posts/new'"  class='execute-btn' type="button" name="addRequest-btn"> Add a new Request</button>
<button onclick="location.href='/posts/list'"  class='execute-btn' type="button" name="searchRequest-btn">Search a Match</button>

</div>

<div class="declaration">
  <h1>Declaration</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
</div>
