<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Currenct Swap</title>
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="/stylesheets/converter/css/frame.css" rel="stylesheet" title="stylesheet" type="text/css" />
</head>
<body>

<div class="container">

    <% if logged_in? %>
    logged in as <%= current_user.email%>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
    <% end %>

    <button onclick="location.href='/'"  class='homepage-btn' type="button">Homepage</button>

    <%= yield %>

    </div>

</body>
