<h2>New Request</h2>

<form action="/posts" method="post">

  <label for="">I have</label>
  <input type="text" name="curr_from" placeholder='currency'>

  <label for="">Amount</label>
  <input type="text" name="amount">

  <label for="">I want</label>
  <input type="text" name="curr_to" placeholder='currency'>

  <label for="">Before</label>
  <input type="text" name="before_date">

  <label for="">I live in</label>
  <input type="text" name="post_code">

  <label for="">My phone number</label>
  <input type="text" name="phone_number">


  <button>Create</button>
</form>
