*, *:after, *:before {
	box-sizing: border-box;
	/*font-family: 'Kranky', cursive;*/
}

body{
  background-image: url("http://gazettereview.com/wp-content/uploads/2016/07/currency.jpg");
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 50px;
}

h1 {
  font-size: 45px;
  line-height: 48px;
}

h2 {
  font-size: 20px;
  line-height: 25px;
}

/*header*/
/*################################*/
.header{
	display: grid;
	grid-template-columns: 40% auto 25%;
	grid-template-rows: 120px;
  /*background: rgb(230, 212, 232);*/
	background-color: rgb(207, 246, 238);
	margin:auto;
	z-index:1000;
	width:100%;
	-webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
}

#header{
	position: fixed;
	top: 0px;
	-webkit-box-shadow: 0px 6px 5px 0px rgb(207, 246, 238);
	-moz-box-shadow: 0px 6px 5px 0px rgb(207, 246, 238);
	box-shadow: 0px 6px 5px 0px rgb(207, 246, 238);
}

.title{
	grid-column: 1 / 2;
	margin: 5px;
	padding-left: 5px;
	/*font-family: 'Rock Salt', cursive;*/
	/*font-family: 'Special Elite', cursive;*/
	/*font-family: 'Cabin Sketch', cursive;*/
	font-family: 'Kranky', cursive;
}

.header-image{
	grid-column: 2 / 3;
}

.header-right{
	grid-column: 3 / 4;
	margin: 5px;
	align-self: center;
	padding: 10px;
}

.header-img{

}

.header-btn{
	border-radius: 10px;
	margin: 3px;
	width: 35%;
}

/*footer*/
/*################################*/
footer {
  background-color: rgb(81, 34, 82);
	color: white;
	font-family: 'Kranky', cursive;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  overflow:hidden;
	padding: 5px;
}

/*index*/
/*################################*/
.container{
	position: relative;
	margin-top: 150px;
}
.btn-group{
	display: grid;
	grid-template-columns: 500px 250px;
	grid-template-rows: (3, 300px);
	width: 750px;
	margin: 30px auto;
	/*font-family: 'Special Elite', cursive;*/
	font-family: 'Kranky', cursive;
	text-align: center;
	border-top: 30px;
	background-color: white;
}

.box-btn a{
	height: 200px;
	font-size: 50px;
	display: inline-block;
	text-decoration: none;
	line-height:200px;
	color: black;
}

.box-img{
	border: 1px black solid;
}

.box-btn{
	border: 1px black solid;
}
.new-request-btn{
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	line-height: 300px;
}

.new-request-img{
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

.search-btn{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.search-img{
	grid-row: 2 / 3;
	grid-column: 2/ 3;
	line-height: 200px;
}

.my-requests-btn{
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}

.my-requests-img{
	grid-row: 3 / 4;
	grid-column: 2 / 3;
	line-height: 200px;
}

.declaration{
	font-family: 'Kranky', cursive;
	border: 1px black solid;
	padding: 10px;
	margin: 50px;
	background-color: white;
	box-shadow: 5px 5px 3px grey;
}

/*New request and selected post*/
/*################################*/
.new{
	display: grid;
	grid-template-columns: 250px auto;
	grid-template-rows: (2, auto);

	width: 750px;
	margin: 30px auto;
	font-family: 'Kranky', cursive;
	text-align: center;
	border: 1px black solid;
	background-color: white;
}

.new-title{
	grid-row: 1 / 2;
	grid-column: 1 / 3;
	padding: 5px;
	border-bottom: 1px black solid;
	background-color: rgb(211, 242, 230);
}

.new-form{
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	text-align: left;
	margin-top: 30px;
}

.new-converter{
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.new-btn{
	margin: 5px;
	width: 30%;
	border-radius: 5px;
}

.my-posts{
	grid-row: 2 / 3;
	grid-column: 1 / 3;
	text-align: left;
}
